.background-img{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#navbar-container{
    position: relative;
    z-index: 1;
}


.abc{
    color: brown;
}
