

body{
  text-align: center;
}

/*Carousel*/
#background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}






/*Navbar*/
.logo{
  width: 20%;
  height: 10%;
}

#navbar-container {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  padding: 0 5%;
}

.menu_option{
  color: white;
  padding: 0 2rem;
  font-size: 1rem;
}



/*Features*/

.feature{
  border: 4px solid white;
}

.feature-row{
  height: 5rem;
}














