

body{
  text-align: center;
}

/*Carousel*/
#background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}






/*Navbar*/
.logo{
  width: 20%;
  height: 10%;
}

#navbar-container {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  padding: 0 5%;
}

.menu_option{
  color: white;
  padding: 0 2rem;
  font-size: 1rem;
}



/*Features*/

#features{
  margin-top: 8%;
}

.feature{
  width: 70%;
  margin: 0 auto;
}

.feature-title{
  color: white;
  padding-top: 8%;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
}

.feature-description{
  color: white;
  padding-bottom: 10%;
}

.feature-btn{
  margin-bottom: 8%;
}

.fas{
  color: white;
}














